includes:
	- vendor/phpstan/phpstan/conf/config.level5.neon

parameters:
	ignoreErrors:
		# Ignore Laravel/Lumen incompatibilites
		- '#Function config_path not found#'
		- '#Call to method bind\(\) on an unknown class#'
		- '#Call to method alias\(\) on an unknown class#'
